# Environment vars
.env
env.yaml

# Google App Engine files in Docker
.datastore/*
!.datastore/.gitkeep

# External libs
libs/*
!libs/.gitkeep

# Byte-compiled / optimized / Python files
*.pyc

# vscode folder
.vscode
